.env

# Maven / Java build
target/
**/target/

# Private files
crud-spring/src/main/resources/pdf-assets/logo.png
crud-spring/src/main/resources/application-local.properties
crud-angular/src/favicon.ico