.table-wrapper {
  max-height: 1100px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  border-radius: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.customer-container {
  height: 100%;
  overflow: auto;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}
