<div>
  <h2>Gerar Ordem de Serviço</h2>
  <div>
    <app-sequential></app-sequential>
  </div>

  <div class="form-container">
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="orderDate">
      <mat-hint>dia/mês/ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="selectedCustomer" (selectionChange)="onCustomerChange()" name="customer">
        <mat-option *ngFor="let customer of customers" [value]="customer">{{ customer.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Veículo</mat-label>
      <mat-select [(ngModel)]="selectedVehicle" name="vehicle">
        <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle">{{ vehicle.brand }} - {{ vehicle.model }} - {{
          vehicle.color }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
