.form-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

.informative-title-order{
  margin-top: 35px;
  margin-left: 20px;
}

.service-order-container {
  height: 400px;
  overflow: auto;
}

#sequential-order-number{
  margin-left: 20px;
}

#services-input {
  width: 90%;
}
