<div>
  <div class="informative-title-order">
    <h1>Geração de Ordem de Serviço</h1>
  </div>

  <div id="sequential-order-number">
    <app-sequential></app-sequential>
  </div>

  <div class="form-container" id="initial-data">
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="pickerDate" [(ngModel)]="orderDate">
      <mat-hint>dia/mês/ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="selectedCustomer" (selectionChange)="onCustomerChange()" name="customer">
        <mat-option *ngFor="let customer of customers" [value]="customer">{{ customer.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Veículo</mat-label>
      <mat-select [(ngModel)]="selectedVehicle" name="vehicle">
        <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle">{{ vehicle.brand }} - {{ vehicle.model }}
          - {{
          vehicle.color }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <h2 class="informative-title-order">Dados Cadastrados (preencha os campos acima)</h2>

    <div class="form-container" id="customer-registered-data">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [value]="selectedCustomer?.name" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [value]="selectedCustomer?.cpf" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput [value]="selectedCustomer?.phone" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [value]="selectedCustomer?.email" disabled>
      </mat-form-field>
    </div>

    <div class="form-container" id="vehicle-registered-data">
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput [value]="selectedVehicle?.brand" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput [value]="selectedVehicle?.model" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput [value]="selectedVehicle?.plate" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput [value]="selectedVehicle?.year" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cor</mat-label>
        <input matInput [value]="selectedVehicle?.color" disabled>
      </mat-form-field>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Serviços Solicitados pelo Cliente</h2>

    <div>
      <mat-card>
        <mat-card-content>
          <section class="service-order-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSourceServices">

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
                <mat-cell *matCellDef="let service">{{ service.id }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
                <mat-cell *matCellDef="let service">{{ service.description }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="action-column">
                  <button mat-mini-fab color="accent" aria-label="Adicionar Serviço" (click)="onAddService()"
                    class="action-column-header">
                    <mat-icon>add</mat-icon>
                  </button>
                </mat-header-cell>

                <mat-cell *matCellDef="let service" class="action-column">
                  <button mat-icon-button color="primary" aria-label="Editar Serviço" (click)="onEditService(service)">
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button mat-icon-button color="warn" aria-label="Deletar Serviço" (click)="onDeleteService(service.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row mat-header-row *matHeaderRowDef="displayedColumnsServices; sticky: true"></mat-header-row>
              <mat-row mat-row *matRowDef="let row; columns: displayedColumnsServices;"></mat-row>

            </table>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Produtos</h2>

  </div>

  <div>
    <h2 class="informative-title-order">Mão de Obra</h2>

  </div>

  <div>
    <h2 class="informative-title-order">Total</h2>

  </div>
</div>
