table {
  overflow: auto;
  max-height: 600px;
  border-radius: 16px;
  width: 100%;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}
