@use '@angular/material' as mat;
@include mat.core();

$custom-app-primary: mat.define-palette(mat.$green-palette);
$custom-app-secondaty: mat.define-palette(mat.$light-green-palette, A200, A400, 700);
$custom-app-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-dark-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondaty,
    warn: $custom-app-warn,
  )
 ));

@include mat.all-component-themes($custom-theme);

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  color: #fff;
}

.customer, .vehicle, .order {
  margin: 2em 5em 2em 5em;
}

.customer mat-header-row {
  background-color: mat.get-color-from-palette($custom-app-primary);
  color: #fff;
}

.vehicle mat-header-row {
  background-color: mat.get-color-from-palette($custom-app-primary);
  color: #fff;
}

mat-card {
  background: #2a3323;
  color: #fff;
}
