<div>
  <div class="informative-title-order">
    <h1>Geração de Orçamento e Ordem de Serviço</h1>
  </div>

  <div id="sequential-order-number">
    <app-sequential></app-sequential>
  </div>

  <div class="form-container" id="initial-data">
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="pickerDate" [(ngModel)]="orderDate">
      <mat-hint>dia/mês/ano</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="pickerDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="selectedCustomer" (selectionChange)="onCustomerChange()" name="customer">
        <mat-option *ngFor="let customer of customers" [value]="customer">{{ customer.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Veículo</mat-label>
      <mat-select [(ngModel)]="selectedVehicle" name="vehicle">
        <mat-option *ngFor="let vehicle of filteredVehicles" [value]="vehicle">{{ vehicle.brand }} - {{ vehicle.model }}
          - {{vehicle.color }}</mat-option>
      </mat-select>
    </mat-form-field>

    <td><mat-form-field>
      <mat-label>Km</mat-label>
      <input matInput>
    </mat-form-field></td>
  </div>

  <div>
    <h2 class="informative-title-order">Dados Cadastrados (preencha os campos acima)</h2>

    <div class="form-container" id="customer-registered-data">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [value]="selectedCustomer?.name" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [value]="selectedCustomer?.cpf" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput [value]="selectedCustomer?.phone" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [value]="selectedCustomer?.email" disabled>
      </mat-form-field>
    </div>

    <div class="form-container" id="vehicle-registered-data">
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput [value]="selectedVehicle?.brand" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput [value]="selectedVehicle?.model" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput [value]="selectedVehicle?.plate" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput [value]="selectedVehicle?.year" disabled>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cor</mat-label>
        <input matInput [value]="selectedVehicle?.color" disabled>
      </mat-form-field>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Serviços Solicitados pelo Cliente</h2>

    <div>
      <form>
        <app-requested-service
          [requestedServices]="requestedService"
          [idRequestedServiceCounter]="idRequestedServiceCounter">
        </app-requested-service>
      </form>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Produtos</h2>

    <div>
      <form>
        <app-used-items
          [usedItems]="usedItems"
          [idItemCounter]="idItemCounter">
        </app-used-items>
      </form>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Mão de Obra</h2>

    <div class="form-container" id="customer-registered-data">
      <td><mat-form-field>
        <mat-label>Valor de Mão de Obra</mat-label>
        <input matInput>
      </mat-form-field></td>
    </div>
  </div>

  <div>
    <h2 class="informative-title-order">Total</h2>

    <td><mat-form-field>
      <mat-label></mat-label>
      <input matInput disabled>
    </mat-form-field></td>
  </div>

  <div class="button-container">
    <button class="generate-file-button"
        mat-flat-button
        color="accent"
        (click)="generateOrderPdf(order.id)">Gerar Ordem de Serviço</button>

    <button class="generate-file-button"
      mat-flat-button
      color="accent">Gerar Ordem de Serviço</button>
  </div>
</div>
