mat-card-content {
  margin: 2em;
}

.informative-title-order h1 {
  text-align: center;
}

.form-container {
  display: flex;
  gap: 16px;
}

#labor-cost, #total-order {
  text-align: end;
  align-items: end;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.generate-file-button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

